<mat-toolbar color="primary">
    <a mat-button [routerLink]="''">Cruise Control</a>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'planning/overview'"> Planning </a>
      <a mat-button [routerLink]="'/create-account'"> Create Account </a>
      <a mat-button [routerLink]="'/contacts'"> Contacts </a>
      <a mat-button [routerLink]="'/create-contact'"> Create Contact </a>
      <a mat-button [routerLink]="'/activities'"> Activities </a>
      <a mat-button [routerLink]="'/create-activity'"> Create Activity </a>
    </div>
</mat-toolbar>
